*{
  background-color: rgb(253, 253, 251);
}
.dashboardStyle{
  position: fixed;
  display: flex;

  background-color: white;
  
height: 20vh;
width: 100%;
margin: 0;
border-bottom: 1px solid rgb(156, 116, 16);
box-shadow: 0px 0px 20px rgb(156, 116, 16);

}
.dashboardStyle #db-logo-img{
  height: 120px;
  width: 120px;
  background-color: transparent;
  border-radius: 100%;
  object-fit: cover;
  background-size: cover;
}
.dashboardStyle #first-logo-name{
  color:rgb(156, 116, 16);
  margin-top: 40px;
  margin-left: 130px;
  font-size: 20px;
}
.dashboardStyle #second-logo-name{
  position: absolute;
  color: rgb(156, 116, 16);
  left: 13%;
  top: 55%;
  font-size: 15px;

}

/* Dashboard.css */
.dashboard-container {
 position: absolute;
 left: -0%;
 top: 110%;
height: 465px;
width:auto; 
  
}

.container-db-tutor
{
  height: auto;
  width: auto;

}
.container-db-tutor img{//image csss
  width: 300px;
  height: 300px;
  margin-left: 45%;
  margin-top: 15%;
  margin-right: 30%;
  opacity: 0.6;
  background:transparent;
} 

.sidebar {
  height: 110%;
  margin-top: -5%;
  width: 200px; /* Width of the sidebar */
  background-color: #fcfdfd; /* Dark background */
  color: white; /* Text color */
  padding: 20px; /* Padding inside the sidebar */
  font-size:large;
  border-right: 1px solid rgb(156, 116, 16);
  box-shadow: 0 0 10px rgb(156, 116, 16); /* Shadow effect */
};

.sidebar ul {
  list-style-type: none; /* Remove bullet points */
  padding: 30px; /* Remove default padding */
  margin-top: 40%;
}

.sidebar li {
  margin: 15px;
 
  padding: 5px; /* Spacing between items */
}

.sidebar a {
  color:rgb(156, 116, 16); /* Link color */
  text-decoration: none; /* Remove underline */
  /* Bold text */
}

.sidebar a:hover {
  text-decoration: underline; /* Underline on hover */
}




.user-profile{
  position: absolute;
  top:5%;
  left: 20%;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid rgb(156, 116, 16);

}
.dashboard {
  display: flex;
  transition: all 0.3s ease;


      &.sidebar-open {
          transform: translateX(100%); // Move sidebar to the right
      }

      ul {
          list-style-type: none;
          padding: 0;

          li {
              padding: 15px;
              cursor: pointer;
              transition: background-color 0.2s;

              &:hover {
                  background-color: #ddd;
              }
          }
      
  }

  .content {
      flex-grow: 1;
      padding: 20px;
  }
}