*{
  margin: 0;
  padding: 0;
  background-color: white;
}
body{

  background: url("../images/bgimg.jpg") no-repeat center center fixed;

}
.student-login-header{
 position: fixed;
 height: 20vh;
 width: 100%;
 background-color:white ;
 border-bottom: 1px solid black;
 box-shadow: 0px 0px 20px black;
}
.student-login-header img{
  height: 100px;
  width: 100px;
  margin-top: 15px;
  margin-left: 20px;
  background: transparent;
  cursor: pointer;
}
#first-logo-name{
position: absolute;
color:rgb(156,116,16);
margin-top: 40px;
margin-left: 20px;
font-size: 20px;
background: transparent;
cursor: pointer;

}
#second-logo-name{
position: absolute;
color:rgb(156,116,16);
top:65px;
left:12%;
font-size:15px;
background: transparent;
cursor: pointer;
}
.container-student-login img
{
position: absolute;
bottom: 40px;
width: 50%;
border: 5px solid rgb(156,116,16);
border-radius: 5%;
cursor: pointer;
}

.student-form-container
{
position: absolute;
background-color: white;
border:3px solid rgb(156,116,16);
height: 60vh;
width: 40vw;
top: 28%;
left:55%;            
border-radius: 10px;

h1{
  text-align: center;
  color: rgb(156,116,16);
}
h3{
  position: absolute;
  left: 5%;
  top: 20%;
  color: rgb(156,116,16)
 }
}

.student-form-container form{
  position: relative;
  margin: 20px;
  padding: 10px;
  margin-top: 20%;
}

.student-form-container form .for-user-img {
  position: absolute;
  border: 1px solid rgb(156,116,16);
  height: 100px;
  width: 100px;
  border-radius: 50%;
  left: 3%;
  margin-top: -110px;
  overflow: hidden; 
  cursor: pointer;
}

.student-form-container form .for-user-img img {
  height: 100%; 
  width: 100%; 
  object-fit: cover;
  border-radius: 50%;  
}
#user-img-btn{
  margin-top: 10px;
  margin-left: 20px;
  padding: 5px 30px;  
}
.student-form-container label{
  position:absolute;
  font-size: 20px;
  right: 7px;
  left: 250px;
  margin-top: -80px;
  color:rgb(156,116,16);
}
#upload picture{
  position: absolute;
  left: 10px;
}
#name{
  position: absolute;
  color: black;
}